[Unit]
Description=Tele-Aria2
After=network.target

[Service]
ExecStart=/usr/bin/tele-aria2 -c /root/.config/tele-aria2/config.json
Restart=always

[Install]
WantedBy=multi-user.target
