[Unit]
Description=Rclone
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount od:/EMBY /EMBY \
 --copy-links --no-gzip-encoding --no-check-certificate --umask 0000 --default-permissions --allow-non-empty --allow-other \
 --buffer-size 32M --dir-cache-time 30s \
 --vfs-cache-mode full --vfs-cache-max-size 15G --vfs-cache-max-age 1h --vfs-read-chunk-size 256M --vfs-read-chunk-size-limit 1G \
 --bwlimit 10M
ExecStop=/bin/fusermount -qzu /EMBY
Restart=on-abort
User=root

[Install]
WantedBy=default.target
